@import "result";
.q-img-fb {
    min-height: 400px;
    background: #424242;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    .content {
        bottom: 0;
        right: 0;
        left: 0;
        .fb {
            background: rgba(#000, 0.5);
        }
    }
    .btn-move {
        position: absolute;
        top: 35%;
        border-radius: 28px;
        right: 25px;
        cursor: pointer;
        background: rgba(20, 134, 203, 0.93);
        color: white;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 500;
        height: 55px;
        line-height: 55px;
        padding: 3px 17px 0 24px;
        transition: background-color 0.25s;
        border: 0;
    }
}

/* Quiz Component */
.answerOptions {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* QuestionCount Component */
.questionCount {
}

/* Question Component */
.question {
    margin: 0;
    padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
    border-top: 1px solid #eee;
}

.answerOption:hover {
    background-color: #eefbfe;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: "";
    background: #8bc53f url(../images/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8bc53f;
}
.correctness-tab {
    position: relative;
    width: 200px;
    border-radius: 7px 7px 0 0;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.03em;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);

    i {
        position: absolute;
        right: 10px;
        transition: transform 0.25s linear;
    }

    &.correct {
        color: #4d4d4d;
        background: linear-gradient(rgba(210, 255, 34, 0.9), #b8eb08);
    }
    &.incorrect {
        color: white;
        background-color: rgba(237, 28, 36, 0.9);
    }
}
