.App-header {
	width: 100%;
	background: #46178f;
	box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
}
.app-header-content {
	height: 3.5rem;
}
.logo {
	text-indent: -9990em;
	background-repeat: no-repeat;
 	height: 40px;
	width: 130px;
	text-indent: -9990em;
	display: block;

	background-size: contain;
	margin: 0;
}
